/* Global Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Typography */
body {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: hsl(0, 0%, 100%);
}

/* Layout */
main {
    height: 100vh;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

.container_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Card Styles */
.card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2.5rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 12%);
}

.profile_container {
    gap: 0.5rem;
}

/* Profile Styles */
.profile_picture {
    height: 5.5rem;
    width: 5.5rem;
    margin-bottom: 1rem;
    border-radius: 50%;
}

.name {
    font-size: 1.5rem;
    font-weight: 700;
}

.address {
    font-weight: 600;
    color: hsl(75, 94%, 57%);
}

/* Profession Section */
.profession  p {
    font-weight: 400;
}

/* Social Network Styles */
.social_network_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social_network {
    width: 19rem;
    padding: 0.9rem;
    border-radius: 0.5rem;
    background-color: hsl(0, 0%, 20%);
    text-align: center;
    cursor: pointer;
    transition: background-color 500ms ease, color 500ms ease;
}

.social_network:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}

/* Media Queries */
@media (max-width: 376px) {
    .social_network {
        width: 17.5rem;
    }

    .card {
        padding: 2rem;
    }
}
